<!DOCTYPE html>
<html lang="en">
  <head>
    <!--  Meta  -->
    <meta charset="UTF-8" />
    <title>Mars weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google fonts   -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap"
      rel="stylesheet"
    />

    <!--  Styles  -->
    <link rel="stylesheet" href="css/main.min.css" />

    <!-- Scripts -->
    <script src="scripts/index.js" defer></script>
  </head>
  <body>
    <main class="mars-current-weather">
      <h1 class="main-title">Latest weather at Elysium Plantitia</h1>

      <div class="date">
        <h2 class="section-title section-title--date">Sol 377</h2>
        <p class="date__day">September 18</p>
      </div>

      <div class="temp">
        <h2 class="section-title">Temperature</h2>
        <p class="reading">High: -20ºC</p>
        <p class="reading">Low: -120ºC</p>
      </div>

      <div class="wind">
        <h2 class="section-title">Wind</h2>
        <p class="reading">75 kph</p>
        <div class="wind__direction">
          <p class="sr-only">45deg</p>
          <div class="wind__arrow"></div>
        </div>
      </div>

      <div class="info">
        <p>
          InSight is taking daily weather measurements (temperature, wind,
          pressure) on the surface of Mars at Elysium Planitia, a flat, smooth
          plain near Mars’ equator.
        </p>
        <p>
          This is only a part of InSight’s mission.
          <a href="https://mars.nasa.gov/insight/mission/overview/"
            >Click here</a
          >
          to find out more.
        </p>
      </div>

      <div class="unit">
        <label for="cel"></label>
        <input type="radio" name="unit" id="cel" checked />
        <label for="fah"></label>
        <input type="radio" name="unit" id="fah" />
      </div>
    </main>

    <div class="previous-weather"></div>
  </body>
</html>
