<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 0;
        font-family: "Cormorant", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
      }
    </style>
    <title>CURVAS, CURVAS everywhere</title>
  </head>
  <body>
    <section>
      <h1>Nice Curves</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit tenetur
        obcaecati accusamus asperiores debitis accusantium voluptate magnam quia
        numquam quasi.
      </p>
    </section>
    <section>
      <h1>Nice Curves</h1>
      <p>
        Aliquam amet quibusdam cumque totam eius blanditiis corporis
        necessitatibus sapiente veritatis excepturi natus saepe enim, eaque
        doloribus non fugit magnam!
      </p>
    </section>
    <section>
      <h1>Nice Curves</h1>
      <p>
        Reiciendis, repellendus quis. Repellat eaque soluta ipsam explicabo,
        nemo iste possimus ea quibusdam veniam earum suscipit enim quo velit
        doloremque!
      </p>
    </section>
    <section>
      <h1>Nice Curves</h1>
      <p>
        Beatae natus iusto mollitia asperiores. Laudantium, nostrum molestiae
        incidunt iusto et porro numquam ex impedit fugit assumenda tempora eum
        ea!
      </p>
    </section>
    <section>
      <h1>Nice Curves</h1>
      <p>
        Corrupti facere voluptas perferendis quod sapiente, quis odit
        dignissimos explicabo dolores, recusandae, natus quae fugiat vel officia
        libero ratione quos!
      </p>
    </section>
    <section>
      <h1>Nice Curves</h1>
      <p>
        Adipisci expedita explicabo excepturi quas laborum. Reprehenderit,
        inventore obcaecati ipsam, laudantium error velit modi eos iusto a earum
        eveniet in?
      </p>
    </section>
    <section>
      <h1>Nice Curves</h1>
      <p>
        Pariatur officia illo tempore! Cupiditate tempore autem veniam excepturi
        porro, quo, quod aliquam magni eum nihil qui quasi tempora id.
      </p>
    </section>
    <section>
      <h1>Nice Curves</h1>
      <p>
        Omnis similique debitis quia illo ab perferendis sunt officiis quae iste
        amet iusto dolores minus, veniam vitae expedita animi. Quidem!
      </p>
    </section>
  </body>
</html>
