:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #20262a;
  --bg-secondary: #141418;
}

body::-webkit-scrollbar {
  width: 2.5rem;
}
body::-webkit-scrollbar-track {
  background-color: var(--color-dark--1);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-brand--2);
}

main {
  margin: 0 2rem 0 5rem;
  padding: 2rem;
  text-align: justify;
}

.navbar {
  background-color: var(--bg-primary);
  position: fixed;
  transition: all 500ms ease-out;
}

.navbar:hover .link-text {
  display: block;
}

.navbar-nav {
  list-style: none;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  column-gap: 2rem;

  color: var(--color-brand--2);
  filter: grayscale(20%) opacity(0.7);
  height: 5rem;
  text-decoration: none;
  transition: all 200ms ease;
  width: 100%;
}

.nav-link:hover {
  filter: grayscale(0) opacity(1);
  background-color: var(--color-dark--2);
}
.link-text {
  display: none;
  font-size: 1.4rem;
}

.svg {
  display: inline-block;
  fill: var(--color-brand--2);
  margin-left: 1.5rem;
  width: 2rem;
}

.logo {
  color: var(--color-brand--1);
  background-color: var(--bg-secondary);
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 0.3ch;
}

.logo .nav-link .link-text {
  margin-left: 1rem;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform 800ms ease-out;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}
/* LARGE SCREENS */
@media only screen and (min-width: 601px) {
  .navbar {
    top: 0;
    height: 100vh;
    width: 5.5rem;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity 600ms;
  }
}

/* SMALL SCREENS */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    height: 5rem;
    width: 100%;
  }
  .navbar:hover .link-text,
  .link-text {
    display: none;
  }
  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: space-around;
    gap: 0;
  }
  .nav-item {
    width: fit-content;
  }
  .nav-link {
    justify-content: center;
    align-items: center;
    width: 5rem;
  }
  main {
    margin: 0;
  }
}
