<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="circular_menu.css" />
    <title>Circular NavBar with Active state Indicator</title>
  </head>
  <body>
    <div class="container">
      <h1>Circular Active Menu</h1>
      <nav class="navbar">
        <ul class="navbar-nav">
          <li class="navbar-item active">
            <a href="#" class="navbar-link">
              <span class="navbar-icon">
                <ion-icon name="home-outline" />
              </span>
              <span class="navbar-text">Home</span>
            </a>
          </li>
          <li class="navbar-item">
            <a href="#" class="navbar-link">
              <span class="navbar-icon">
                <ion-icon name="person-outline" />
              </span>
              <span class="navbar-text">Profile</span>
            </a>
          </li>
          <li class="navbar-item">
            <a href="#" class="navbar-link">
              <span class="navbar-icon">
                <ion-icon name="chatbubble-outline" />
              </span>
              <span class="navbar-text">Message</span>
            </a>
          </li>
          <li class="navbar-item">
            <a href="#" class="navbar-link">
              <span class="navbar-icon">
                <ion-icon name="camera-outline" />
              </span>
              <span class="navbar-text">Photos</span>
            </a>
          </li>
          <li class="navbar-item">
            <a href="#" class="navbar-link">
              <span class="navbar-icon">
                <ion-icon name="settings-outline" />
              </span>
              <span class="navbar-text">Settings</span>
            </a>
          </li>
          <div class="indicator"></div>
        </ul>
      </nav>
    </div>

    <script>
      // get all navbar-item elements LI
      const navbarItems = document.querySelectorAll(".navbar-item");

      // create a function to activate links
      function addActiveLinks() {
        // Remove active class from all items
        navbarItems.forEach((item) => item.classList.remove("active"));
        //  add active class to current clicked element
        this.classList.add("active");

        // Move the indicator to the active element
        // get the indicator element
        const indicator = document.querySelector(".indicator");
        // get the index of the current clicked element
        const index = Array.from(navbarItems).indexOf(this);

        // calculate the cumulative width of previous items
        const cumulativeWidth = Array.from(navbarItems)
          .slice(0, index)
          .reduce((acc, curr) => acc + curr.getBoundingClientRect().width, 0);

        // move the indicator only if this item was clicked
        if (this === navbarItems[index]) {
          indicator.style.transform = `translateX(${cumulativeWidth}px)`;
        }
      }

      // add CLICK eventlistener navbar-item elements (LI)
      navbarItems.forEach((item) =>
        item.addEventListener("click", addActiveLinks)
      );
    </script>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
