<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../global_styles.css" />
    <link rel="stylesheet" href="./flexbox_navbars.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <header class="header header1">
        <img src="./logo.jpg" alt="logo" class="img__header--1" />
        <nav>
          <ul class="nav__links">
            <li><a href="#">Services</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
        <a href="#" class="cta"><button class="btn btn__1">Contact</button> </a>
      </header>
      <header class="header header2">
        <img src="./logo.jpg" alt="logo" class="img__header--2" />
        <nav>
          <ul class="nav__links">
            <li><a href="#">Services</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
        <a href="#" class="cta"><button class="btn btn__2">Contact</button> </a>
      </header>

      <header class="header header3">
        <img src="./logo.jpg" alt="logo" class="img__header--3" />
        <nav class="nav3">
          <ul class="nav__links nav__links3">
            <li><a href="#">Services</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
        <a href="#" class="cta cta3"
          ><button class="btn btn__3">Contact</button>
        </a>
      </header>
    </div>
  </body>
</html>
